<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="Stubborn Code - Web development tutorials" name="Description">
        <link href="/favicon.png" rel="icon"/>
        <link href="/css/tailwind.css" rel="stylesheet"/>
        {% include _google_analytics.html %}
        <title>Stubborn Code</title>
    </head>
    <body>
        {% include _header.html %}
        <div class="container px-6 sm:px-12 lg:px-48 pb-24 pt-4 sm:pt-12 m-auto">
            {{ content }}
        </div>
        {% include _footer.html %}
    </body>
</html>
